;
* {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	list-style-type: none;
	vertical-align: baseline; 
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 10pt; 
	letter-spacing: -0.025em;
	color: #3b3b3b;
	background: #333;
	padding-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 1.4em;
}

a {
	color: #E72533;
	text-decoration: none;
	border-bottom: 1px solid #E72533;
	transition: all .2s ease-in-out;
	&:hover {
		border-bottom: 3px solid #E72533;
	}
}

.wrapper {
	width: 760px;
	margin: 0 auto;
}

.mainHeader {
	font-size: 2em;
	color: #fff;
	background: #EA5C55;
	padding: 20px 0;
	margin-bottom: 40px;
	h1 {
		text-shadow: 1px 1px #666;
		text-align: center;
		a {
			text-decoration: none;
			color: inherit;
			border: none;
		}
	}
}

#canvas {
	margin: 0 auto;
	display: block;
}